/* This file defines how custom elements will look like, setting CSS that breaks main nekoweb site on purpose is prohibited and may result in ban and site deletion! */

/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */
.site-box {
    text-align: left;
    content: url(https://milkyway.nekoweb.org/assets/sitebox.png); /* Only nekoweb URLs allowed, use full url to your site like https://example.nekoweb.org/images/coolbg.png */
    background-repeat: no-repeat;
    color: #00ff00;
    font-size: 12px;
    margin-left: 10px;
}
.site-box > a > p {
    color: #00ff00;
    font-weight: bold;
    text-shadow: 1px 2px 0px #009900;
}
.site-box > a > span {
    color:  #00ff00;
    margin-left: 10px;
}

.site-box::after {
    content:url(image url);
    position:absolute;
    top: %;
    left: %
}